
body{
    background-color: rgb(10, 10, 35);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

#container{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 50%;
   margin: 200px auto;
}

h1{
    color: white;
}